{#
	Typography
	==============================
	One of the sections displayed in the styleguide.
#}

{# Inherit the blocks and their content from the styleguide layout. #}
{% extends websitedocumentation.getUrl(currentSite.handle) ~ '/_layouts/_section.twig' %}

{% block head %}
	{{ parent() }}
	{# Head content to be inherited by this template ONLY. The `parent` function
	inherits the content from the styleguide layout's head block. #}
{% endblock %}

{% block body %}
	{% set data = {
		paragraph: {
			title: "Paragraph",
			text: styleGuide.data.placeholders.long,
			attributes: {}
		},
		smallText: {
			title: "Small Text",
			text: styleGuide.data.placeholders.long,
			attributes: {}
		},
		unorderedList: {
			title: "Unordered List",
			list: "unordered",
			attributes: {}
		},
		orderedList: {
			title: "Ordered List",
			list: "ordered",
			attributes: {}
		}
	} %}

	{# Fetch the relevant styleguide data #}
	{% set fontsArray = styleGuide.data.fonts %}

	{# Font Families #}
	<section class="font-section">
		{% embed websitedocumentation.getUrl(currentSite.handle) ~ '/style-guide/_embeds/_container'
			with {
				headerClasses: ['container-padding'],
				contentClasses: ['container-padding']
			}
		%}
			{% block header %}
				{% include websitedocumentation.getUrl(currentSite.handle)
					~ '/style-guide/_atoms/_paragraph' with {
					text: 'Fonts',
					attributes: {
						class: [
							"font-label",
						]
					}
				} %}
			{% endblock %}
			{% block content %}
				<div class="font-section__blocks">
					{% for font in fontsArray %}
						{% include websitedocumentation.getUrl(currentSite.handle)
							~ '/style-guide/_atoms/_fonts' with {
							name: font.name,
							attributes: {
								class: [
									font.class | default(null),
								]
							}
						} %}
					{% endfor %}
				</div>
			{% endblock %}
		{% endembed %}
	</section>

	{# Headings #}
	<section class="font-section">
		{% embed websitedocumentation.getUrl(currentSite.handle) ~ '/style-guide/_embeds/_container'
			with {
				contentClasses: ['container-padding']
			}
		%}
			{% block content %}
				{% for i in range(1, 6) %}
					<div class="font__headings-block">
						{% include websitedocumentation.getUrl(currentSite.handle)
							~ '/style-guide/_atoms/_paragraph' with {
							text: 'Heading ' ~ i,
							attributes: {
								class: [
									"font-label",
								]
							}
						} %}
						{% include websitedocumentation.getUrl(currentSite.handle)
							~ '/style-guide/_atoms/_heading' with {
							level: i,
							text: styleGuide.data.placeholders.tiny
						} %}
					</div>
				{% endfor %}
			{% endblock %}
		{% endembed %}
	</section>

	{# Other Typography #}
	{% for item in data %}
		<section class="font-section">
			{% embed websitedocumentation.getUrl(currentSite.handle) ~ '/style-guide/_embeds/_container'
				with {
					headerClasses: ['container-padding'],
					contentClasses: ['container-padding']
				}
			%}
				{% block header %}
					{% include websitedocumentation.getUrl(currentSite.handle)
						~ '/style-guide/_atoms/_paragraph' with {
						text: item.title | default(null),
						attributes: {
							class: [
								"font-label",
							]
						}
					} %}
				{% endblock %}
				{% block content %}

					{% if item.text | default(null) %}
						{% include websitedocumentation.getUrl(currentSite.handle)
							~ '/style-guide/_atoms/_paragraph' with {
							text: item.text | default(null),
							attributes: item.attributes | default(null),
						} %}
					{% endif %}

					{% if item.list | default(null) %}
						{% include websitedocumentation.getUrl(currentSite.handle)
							~ "/style-guide/_atoms/_#{item.list}-list" with {
							attributes: item.attributes | default(null),
						} %}
					{% endif %}

				{% endblock %}
			{% endembed %}
		</section>
	{% endfor %}
{% endblock %}
