{#
	Atoms: Back Link
	========================================
	* text:        STRING - Component text | Default: null
	* url:         STRING - Component url | Default: null
	* global:      OBJECT - Global Config | Default: null
	* attributes:  OBJECT - Custom attributes to be added to the component | Default: null
#}

{# Set the component's default properties #}
{% set text = text | default('Back to Website' | t) %}
{% set url = url | default('/') %}
{% set global = global | default(null) %}
{% set template = websitedocumentation.getUrl(currentSite.handle) %}

{# Set the component's default attributes #}
{% set defaultAttributes = {
	wrapper: {
		id: 'site-button',
		href: url,
		title: text,
		style: {
			background: '#' ~ global.colors.brandBackground,
			color: '#' ~ global.colors.brandText,
		}
	},
	icon: {
		wrapper: {
			class: ["icon"],
		},
		arrow: {
			style: 'fill: #' ~ global.colors.brandText,
		}
	},
} %}

{# Merge the custom attributes with the default attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set defaultAttributes = defaultAttributes | merge(attributes, true) %}
	{% set attributes = null %}
{% endif %}

{# Render the component's HTML #}
{% if text is not empty %}
	<a {{ attr(defaultAttributes.wrapper) }}>
		<span {{ attr(defaultAttributes.icon.wrapper) }}>
			{% include template ~ '/_atoms/_icons/_arrow' with {
				attributes: defaultAttributes.icon.arrow
			} only %}
		</span>
		{{ text }}
	</a>
{% endif %}
