{#
	Atom: Fonts
	========================================
	* name:         STRING - The font name | Default: null
	* attributes:   OBJECT - Custom attributes to be added to the component | Default: null
#}

{# Set the component's default properties #}
{% set text = text | default(null) %}

{# Set the component's default attributes #}
{% set defaultAttributes = {
	class: [
		"font-block",
	]
} %}

{# Merge the custom attributes with the default attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set defaultAttributes = defaultAttributes | merge(attributes, true) %}
	{% set attributes = null %}
{% endif %}

{# Render the component's HTML #}
{% if name is not empty %}
	<div {{ attr(defaultAttributes) }}>
		<p class="font-block__name">
			{{ name }}
		</p>
		<p class="font-block__demo">
			abcdefghijk<br />
			1234567890<br />
			!@£$%&*?+
		</p>
	</div>
{% endif %}
