{#
	Atom: Paragraph
	========================================
	* text:         STRING - The text | Default: null
	* attributes:   OBJECT - Custom attributes to be added to the component | Default: null
#}

{# Set the component's default properties #}
{% set text = text | default(null) %}

{# Set the component's default attributes #}
{% set defaultAttributes = {
	class: [
		""
	]
} %}

{# Merge the custom attributes with the default attributes #}
{% if attributes is defined and attributes is not empty %}
	{% set defaultAttributes = defaultAttributes | merge(attributes, true) %}
	{% set attributes = null %}
{% endif %}

{# Render the component's HTML #}
{% if text is not empty %}
	<p {{ attr(defaultAttributes) }}>
		{{- text | raw -}}
	</p>
{% endif %}
