{% extends '_layouts/cp' %}

{% set selectedSubnavItem = 'settings' %}

{% set title = 'Settings' %}

{% set navItems = {
	general: {
		title: 'General Settings',
	},
	templates: {
		title: 'Install Templates',
	}
} %}

{% set extraSegment = craft.app.request.getSegment(4) | default %}
{% set appendix = extraSegment ? '/'~extraSegment : '' %}
{% set selectedItem = (craft.app.request.getSegment(3) ~ appendix)|default %}

{% set crumbs = [
    { label: "Documentation"|t("websitedocumentation"), url: url("website-documentation") },
    { label: "Settings"|t("websitedocumentation"), url: url("website-documentation/settings") },
] %}

{% block actionButton %}{% endblock %}

{% block sidebar %}
    <nav>
        <ul>
            {% for id, item in navItems %}
                <li>
                    <a href="{{ url('website-documentation/settings/' ~ id) }}"{% if id == selectedItem %} class="sel"{% endif %}>
                        {{ item.title | raw }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </nav>
{% endblock %}
