{#
	Navigation: Menu
	========================================
	* id: 			STRING - Should match the aria-controls attribute on the menu button | Default: 'sidebar-menu'
	* menu: 		ARRAY - The menu | Default: null
	* attributes: 	OBJECT - Custom attributes to be added to the component | Default: null
#}

{# Set the component's default properties #}
{% set id = id | default('main-menu') %}
{% set menu = menu | default(null) %}
{% set global = global | default(null) %}

{# Get template #}
{% set template = websitedocumentation.getUrl(currentSite.handle) %}

{# Get Colours #}
{% set textColour = global.colors.brandText | default("fff") %}
{% set activeBackground = global.colors.accentBackground | default("000000")%}
{% set subActiveBackground = "#{activeBackground}60" | default("00000060") %}
{% set childActiveBackground = "#{activeBackground}30" | default("00000030") %}

{# Set the component's default attributes #}
{% set defaultAttributes = {
	nav: {
		id: id,
		style: [
			"--activeText: ##{textColour}",
			"--activeBg: ##{activeBackground}",
			"--subActivebg: ##{subActiveBackground}",
			"--childActivebg: ##{childActiveBackground}"
		] | join("; ")
	}
} %}

{# Render the component's HTML #}
{% if menu is not empty %}
	<nav {{ attr(defaultAttributes.nav) }}>
		{% for item in menu %}
			{% include "#{template}/style-guide/_navigation/_menu-item" with {
				item: item,
				parentId: item.parent.id | default(null),
			} %}
		{% endfor %}
	</nav>
{% endif %}
